<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.web.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/listeproduits</url-pattern>
  </servlet-mapping>
  <display-name>ProjetGestionProduit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Testsver</display-name>
    <servlet-name>Testsver</servlet-name>
    <servlet-class>com.web.Testsver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testsver</servlet-name>
    <url-pattern>/Testsver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAuthentification</display-name>
    <servlet-name>ServletAuthentification</servlet-name>
    <servlet-class>com.web.ServletAuthentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAuthentification</servlet-name>
    <url-pattern>/ServletAuthentification</url-pattern>
  </servlet-mapping>
</web-app>